body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

#company-logo {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
    font-size: 2.5rem;
    font-weight: bold;
}

#company-logo:hover {
    text-decoration: none;
}

.my-logo {
    width: 7.5rem;
}

header {
    background-color: rgb(54, 161, 219);
    margin-top: 0;
    padding: 5px 10px;
}

input {
    height: 1.5rem;
    font-size: 1rem;
    width: 25rem;
}

footer {
    padding: 5px;
    text-align: center;
    font-size: small;
}
