body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
}

/* links */
#company-logo:hover {
    text-decoration: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* layout */
#company-logo {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
    font-size: 2.5rem;
}

.my-logo {
    width: 7.5rem;
}

header {
    background-color: rgb(54, 161, 219);
    margin-top: 0;
    padding: 5px 10px;
}

footer {
    padding: 5px;
    text-align: center;
    font-size: small;
}

/* .transactions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* .container-search {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
} */

/* .button-search {
    padding: 10px 19px;
    border-radius: 4px;
    background-color: rgb(54, 161, 219);
    font-size: 14px;
    cursor: pointer;
    color: #1d1e22;
    border: none;
    margin-top: 0;
    text-decoration: none;
} */

/* .input-search {
    margin-right: .5rem;
    border-radius: 5px;
    font-size: .9rem;
    text-align: center;
} */



@media screen and (max-width: 1024px) {
    body {
        font-size: 3rem;
    }
    #company-logo {
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        margin: 0px 0px 10px 0px;
        font-size: 10rem;
    }

    .my-logo {
        width: 20rem;
    }
}