.transactions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 2px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}

th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 980px){
	thead{
		display: none;
	}

	tbody, 
    tr, 
    td{
		display: block;
		width: 100%;
	}

	tr {
		margin-bottom: 1rem;
	}

	td{
		text-align: right;
        text-align: right;
		position: relative;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

	td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		font-size: 18px;
		text-align: left;
	}
    
    #company-logo {
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        margin: 0px 0px 10px 0px;
        font-size: 64px;
    }

    .my-logo {
        width: 256px;
    }

    a {
        display: block;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
}
