* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #eee;
}

.nav-list {
    list-style-type: none;
}

li {
    padding-top: .5rem;
}

a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}